<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Empresas</title>
</head>
<body>
<div th:fragment="formCadastro">
    <form method="post" th:action="@{cadastrarEmpresa}" th:object="${empresaRequest}">
        <h2>Cadastro de Empresas</h2>
        <br/>
        <table>
            <tr>
                <td>Nome:</td>
                <td><input type="text" size="50" th:field="*{nome}"></td>
            </tr>
            <tr>
                <td>CNPJ:</td>
                <td><input type="text" size="20" th:field="*{cnpj}"></td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" size="50" th:field="*{email}"></td>
            </tr>
            <tr>
                <td>Situação:</td>
                <td><input type="text" size="50" th:field="*{situacao}"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Salvar"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>